/* wireframe
* {
	border: solid 1px red;
} */

/* font sizing */
h1 {
	font-size: 3em;
}
p {
	font-size: 1.2em;
}

/* main css */
body {
	margin: 0%;
	background-color: hsl(0, 0%, 15%);
	color: hsl(0, 0%, 80%);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
	background-color: hsl(0, 0%, 80%);
	color: hsl(0, 0%, 15%);
	display: flex;
	justify-content: space-between;
}

header button {
	background-color: hsl(0, 0%, 50%);
	color: hsl(0, 0%, 15%);
	border: none;
	padding: 15px 2%;
}

header div {
	padding: 15px 2%;
}

/* maybe figure out flex */
main {
	padding: 200px 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

main button {
	background-color: hsl(0, 0%, 50%);
	color: hsl(0, 0%, 15%);
	border: none;
	padding: 15px
}
.hidden{
	display:none
}